<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Received Webhooks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function autoRefreshPage() {
            setTimeout(function(){
                location.reload();
            }, 5000);
        }
    </script>
</head>
<body onload="autoRefreshPage()">
    <div class="container">
        <h1>Received Webhooks</h1>
        {% if webhooks %}
            <ul>
                {% for webhook in webhooks %}
                    <li><pre>{{ webhook | tojson(indent=2) }}</pre></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No webhooks received yet.</p>
        {% endif %}
    </div>
</body>
</html>
